body{
	font-family: Helvetica, Arial, sans-serif;
/*	  background-color: #455555;
*/

}

* {
	box-sizing: border-box;
}


.container-fluid{
	padding: 0;
}

.banner{
	width: 100%;
	height: 640px;
}

.banner img{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	display: inline-block;
}

.head-container{
	width: 40%;
	float: left;
	clear: both;
	position: absolute;
	margin: 200px 0 0px 25%;
}

.name, .headline{
	z-index: 999;
	color: #fff;
	display: block;
	position: relative;
}

.name{
	font-size: 3em;
}
.headline{
	font-size: 1.5em;
}
.main-content h1{
	font-size: 2em;
}
.main-content{
	padding: 0px;
	font-size:1.75em;
}

footer{
	padding-top: 10px;
	color: #fff;
	background-color: #455555;
}

.sm img{
	background-size: 40px;
	height: 40px;
	width: 40px;
	margin: 10px 5px;
	display: inline-block;
	background-repeat: no-repeat;
}

.end{
	display: inline-block;
}
.skills{
	background-color: #dedede;
  	color: #545454;
  	height: 100%;
	position: relative;
	display: table-cell;
	width: 100%;
}
.design, .dev{
	list-style: none;
}

.dev{
	padding: 0 10px;
}
.dev-skill{
	width: 105px;
	height: 105px;
	display: inline-block;
	font-size: 14px;
	line-height: 7;
	border: 3px solid #545454;
	border-radius: 50%;
	text-align: center;
	margin: 10px 10px 10px 0;
	padding: 0;
}


.design-img{
	width:75px;
	height: 75px;
	float:left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.other{
	font-size: 14px;
}

.bio, .experience, .skills, .specialties{
	padding: 50px 10%;
}

footer{
	text-align: center;
}


h1, h2{
	clear: both;
}
h1::after{
	content: "";
	display: block;
	margin: 25px 0;

	position: relative;
	border: 1px solid #fff;
	width: 5%;
}

.spec{
	text-align: center;
}

.spec-icon{
	height: 125px;
	line-height: 125px;

}
.spec-icon img{
	padding-top: 13px;
}
.spec h2{
	font-size: 1.25em;
}
.spec p{
	font-size: .75em;
	display: inline-block;
}

a:hover, a:active{
	text-decoration: none;
	color: inherit;
}
.bio{
	background-color: #dedede;
	color: #545454;
}
.experience, .specialties{
	/*36454f*/
	background-color: #455555;
	color: #fff;
}

.experience{
	/*36454f*/
	background-color: #82a1a1;
	color: #fff;
}

.resume{
	text-align: center;
	display: block;
	margin-top: 20px;
	color: #fff;
}
.specialties{
	display: table-cell;
	width: 100%;
	height: 100%;
}

