/*convert to SASS*/

body{
	font-family: Helvetica, Arial, sans-serif;
	  background-color: #36454f;

}
* {
	box-sizing: border-box;
}
.row {
	  margin-bottom: 5px;
	  background-color: #36454f;
  color: #fff;

}

#top-header{
	height: 100px;

}


.main-content h1{
	font-size: 2em;
}
.main-content{
	padding: 20px;
	font-size:1.75em;
}

footer{
}

.sm img{
	background-size: 40px;
	height: 40px;
	width: 40px;
	margin: 10px 5px;
	display: inline-block;
	background-repeat: no-repeat;
}

.end{
	display: inline-block;
}

.design, .dev{
	list-style: none;
}

.dev{
	padding: 0 10px;
	color: #fff;
}
.dev-skill{
	width: 105px;
	height: 105px;
	display: inline-block;
	font-size: 14px;
	line-height: 7;
	border: 3px solid #fff;
	border-radius: 50%;
	text-align: center;
	margin: 10px 10px 10px 0;
	padding: 0;
}

.dev-skill{

}

.design-img{
	width:75px;
	height: 75px;
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.other{
	font-size: 14px;
	color: #fff;
}

.row div{
	padding: 50px;
}

footer{
	text-align: center;
}


h1, h2{
	clear: both;
}
h1::after{
	content: "";
	display: block;
	margin: 25px 0;

	position: relative;
	border: 1px solid #fff;
	width: 5%;
}

.spec{
	text-align: center;
}

.spec p{
	font-size: .75em;
}

a:hover, a:active{
	text-decoration: none;
	color: inherit;
}